<c-card>
    <c-card-header>
        <c-row>
            <c-col xs="auto" class="col-title">
                <h5 class="me-2"> {{ titulo }} {{esInformacionPersonal ? 'información personal' :
                    'administrador'}} </h5>
            </c-col>
            @if (esModoLectura) {
            <c-col xs="auto">
                <div class="actions">
                    <a cButton color="success" variant="ghost" size="sm" shape="rounded-pill" cTooltip="Editar"
                        [routerLink]="['/admins/editar/' + admin.identificacion]">
                        <svg cIcon name="cil-pencil"></svg>
                    </a>

                    @if (esInformacionPersonal) {
                    <button cButton color="warning" variant="ghost" size="sm" shape="rounded-pill"
                        cTooltip="Cambiar contraseña" [cModalToggle]="cambiarClaveModal.id">
                        <svg cIcon name="cil-lock-locked"></svg>
                    </button>
                    }
                </div>
            </c-col>
            }
        </c-row>
    </c-card-header>
    <c-card-body>
        <form cForm #adminForm="ngForm" (ngSubmit)="onSubmit()">
            <c-row>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Identificación:</label>
                    <input cFormControl type="text" [(ngModel)]="admin.identificacion" name="identification"
                        #identification="ngModel" maxlength="20" required [pattern]="constService.REGULAR_EXP.NUMBER"
                        [valid]="identification.touched && identification.invalid ? false : undefined"
                        [readonly]="esModoLectura || esModoEdicion" [plaintext]="esModoLectura || esModoEdicion">
                    <c-form-feedback *ngIf="!!(identification.touched && identification.invalid)" [valid]="false">
                        Este campo es requerido y debe ser numérico!
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Nombre:</label>
                    <input cFormControl type="text" [(ngModel)]="admin.nombre" name="adminName" #adminName="ngModel"
                        maxlength="100" required [valid]="adminName.touched && adminName.invalid ? false : undefined"
                        [readonly]="esModoLectura" [plaintext]="esModoLectura">
                    <c-form-feedback *ngIf="!!(adminName.touched && adminName.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Celular:</label>
                    <input cFormControl type="text" [(ngModel)]="admin.celular" name="cellphone" #cellphone="ngModel"
                        maxlength="10" [pattern]="constService.REGULAR_EXP.NUMBER" required
                        [valid]="cellphone.touched && cellphone.invalid ? false : undefined" [readonly]="esModoLectura"
                        [plaintext]="esModoLectura">
                    <c-form-feedback *ngIf="!!(cellphone.touched && cellphone.invalid)" [valid]="false">
                        Este campo es requerido y debe ser numérico!
                    </c-form-feedback>
                </c-col>
            </c-row>
            @if (esModoCreacion) {
            <c-row>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Contraseña:</label>
                    <input cFormControl type="password" [(ngModel)]="admin.clave" name="password" #password="ngModel"
                        (ngModelChange)="confirmarClave()" maxlength="20" [pattern]="constService.REGULAR_EXP.PASSWORD"
                        required [valid]="password.touched && password.invalid ? false : undefined">
                    <c-form-feedback *ngIf="!!(password.touched && password.invalid)" [valid]="false">
                        La contraseña debe tener mínimo 8 caracteres, 1 letra mayúscula, 1 letra minúscula, 1
                        número y 1 símbolo!
                    </c-form-feedback>
                </c-col>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Confimación de contraseña:</label>
                    <input cFormControl type="password" [(ngModel)]="admin.claveConfirmacion" name="passwordConfirm"
                        #passwordConfirm="ngModel" (ngModelChange)="confirmarClave()" maxlength="20" required
                        [valid]="passwordConfirm.touched && (passwordConfirm.invalid || !lasClavesCoinciden) ? false : undefined">
                    <c-form-feedback
                        *ngIf="!!(passwordConfirm.touched && (passwordConfirm.invalid || !lasClavesCoinciden))"
                        [valid]="false">
                        Las contraseñas no coinciden!
                    </c-form-feedback>
                </c-col>
            </c-row>
            }
            <c-row>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Rol:</label>
                    <select cSelect [(ngModel)]="admin.rol" name="role" #role="ngModel" required
                        [valid]="role.touched && role.invalid ? false : undefined"
                        [disabled]="esModoLectura || (esModoEdicion && (esInformacionPersonal || adminLocal.rol == constService.ROL_ADMIN.SECUNDARIO))">
                        <option [value]="constService.ROL_ADMIN.PRINCIPAL">{{constService.ROL_ADMIN.PRINCIPAL}}
                        </option>
                        <option [value]="constService.ROL_ADMIN.SECUNDARIO">{{constService.ROL_ADMIN.SECUNDARIO}}
                        </option>
                    </select>
                    <c-form-feedback *ngIf="!!(role.touched && role.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
                <c-col sm="6" class="mb-3" style="margin-top: 31px">
                    <label cLabel="col" sizing="sm">Estado:</label>
                    <c-button-group [formGroup]="btnRadioGroup" class="ms-4">
                        @if (btnRadioGroup.enabled || (btnRadioGroup.disabled && admin.estado ==
                        constService.ESTADO_ADMIN.ACTIVO)) {
                        <input class="btn-check" formControlName="radioEstado" id="radio1" type="radio"
                            [value]="constService.ESTADO_ADMIN.ACTIVO" />
                        <label (click)="cambiarEstado(constService.ESTADO_ADMIN.ACTIVO)" cButton cFormCheckLabel
                            color="info" for="radio1" variant="outline">
                            {{ constService.ESTADO_ADMIN.ACTIVO }}
                        </label>
                        }

                        @if (btnRadioGroup.enabled || (btnRadioGroup.disabled && admin.estado ==
                        constService.ESTADO_ADMIN.INACTIVO)) {
                        <input class="btn-check" formControlName="radioEstado" id="radio2" type="radio"
                            [value]="constService.ESTADO_ADMIN.INACTIVO" />
                        <label (click)="cambiarEstado(constService.ESTADO_ADMIN.INACTIVO)" cButton cFormCheckLabel
                            color="danger" for="radio2" variant="outline">
                            {{ constService.ESTADO_ADMIN.INACTIVO }}
                        </label>
                        }
                    </c-button-group>
                </c-col>
            </c-row>
            @if (esModoEdicion && esInformacionPersonal) {
            <c-row>
                <c-col sm="6" class="mb-3">
                    <c-form-check sizing="lg" switch>
                        <input cFormCheckInput type="checkbox" [(ngModel)]="editarDatosSeguridad" name="checkSecurity"
                            style="cursor: pointer;" />
                        <label cFormCheckLabel>Editar datos de seguridad</label>
                    </c-form-check>
                </c-col>
            </c-row>
            @if (editarDatosSeguridad) {
            <c-row>
                <c-col class="mb-3">
                    <datos-seguridad [datosSeguridad]="admin.datosSeguridad"
                        (esFormularioValido)="sonValidosDatosSeguridad = $event"></datos-seguridad>
                </c-col>
            </c-row>
            }
            }
            @if (esModoCreacion || esModoEdicion) {
            <input cButton color="primary" type="submit" [value]="titulo"
                [disabled]="adminForm.invalid || (esModoCreacion && !lasClavesCoinciden) || (editarDatosSeguridad && !sonValidosDatosSeguridad)">
            }
        </form>
    </c-card-body>
</c-card>

<c-modal #cambiarClaveModal backdrop="static" id="cambiarClaveModal">
    <form cForm #cambiarClaveForm="ngForm">
        <c-modal-header>
            <h5 cModalTitle>Cambiar contraseña personal</h5>
            <button [cModalToggle]="cambiarClaveModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            <c-row>
                <c-col xs="12" class="mb-3">
                    <label cLabel="col" sizing="sm">Contraseña actual:</label>
                    <input cFormControl type="password" [(ngModel)]="cambioDeClave.claveActual" name="password"
                        #password="ngModel" maxlength="20" [pattern]="constService.REGULAR_EXP.PASSWORD" required
                        [valid]="password.touched && password.invalid ? false : undefined">
                    <c-form-feedback *ngIf="!!(password.touched && password.invalid)" [valid]="false">
                        La contraseña debe tener mínimo 8 caracteres, 1 letra mayúscula, 1 letra minúscula, 1
                        número y 1 símbolo!
                    </c-form-feedback>
                </c-col>
                <c-col xs="12" class="mb-3">
                    <label cLabel="col" sizing="sm">Contraseña nueva:</label>
                    <input cFormControl type="password" [(ngModel)]="cambioDeClave.claveNueva" name="passwordNew"
                        #passwordNew="ngModel" (ngModelChange)="confirmarClaveEnCambioDeClave()" maxlength="20"
                        [pattern]="constService.REGULAR_EXP.PASSWORD" required
                        [valid]="passwordNew.touched && passwordNew.invalid ? false : undefined">
                    <c-form-feedback *ngIf="!!(passwordNew.touched && passwordNew.invalid)" [valid]="false">
                        La contraseña debe tener mínimo 8 caracteres, 1 letra mayúscula, 1 letra minúscula, 1
                        número y 1 símbolo!
                    </c-form-feedback>
                </c-col>
                <c-col xs="12" class="mb-3">
                    <label cLabel="col" sizing="sm">Confimación de contraseña:</label>
                    <input cFormControl type="password" [(ngModel)]="cambioDeClave.claveConfirmacion"
                        name="passwordConfirm" #passwordConfirm="ngModel"
                        (ngModelChange)="confirmarClaveEnCambioDeClave()" maxlength="20" required
                        [valid]="passwordConfirm.touched && (passwordConfirm.invalid || !lasClavesCoinciden) ? false : undefined">
                    <c-form-feedback
                        *ngIf="!!(passwordConfirm.touched && (passwordConfirm.invalid || !lasClavesCoinciden))"
                        [valid]="false">
                        Las contraseña no coinciden!
                    </c-form-feedback>
                </c-col>
            </c-row>
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="cambiarClaveModal.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="warning" (click)="cambiarClave(cambiarClaveModal)"
                [disabled]="cambiarClaveForm.invalid">
                Cambiar contraseña
                <svg cIcon name="cil-asterisk-circle"></svg>
            </button>
        </c-modal-footer>
    </form>
</c-modal>