<c-card>
    <c-card-header>
        <h5>Listado órdenes de trabajo</h5>
    </c-card-header>
    <c-card-body>
        <p>Órdenes de trabajo de la más reciente a la más antigua.</p>
        <c-row>
            <c-col md="4" xl="3" class="mb-3">
                <label cLabel="col" sizing="sm">Filtrar por estado de orden:</label>
                <c-input-group>
                    <span cInputGroupText sizing="sm">
                        <c-badge size="sm" class="text-info"
                            cTooltip="Se obtienen las órdenes de trabajo con el estado seleccionado">
                            <svg cIcon name="cil-warning"></svg>
                        </c-badge>
                    </span>
                    <select cSelect [(ngModel)]="filtro.estadoOrden" (ngModelChange)="navegarAListado()" name="orderStatus"
                        #orderStatus="ngModel" sizing="sm">
                        <option [value]="CONST.ESTADO_ORDEN.VIGENTE">
                            {{CONST.ESTADO_ORDEN.VIGENTE}}
                        </option>
                        <option [value]="CONST.ESTADO_ORDEN.FINALIZADA">
                            {{CONST.ESTADO_ORDEN.FINALIZADA}}
                        </option>
                        <option [value]="CONST.ESTADO_ORDEN.ANULADA">
                            {{CONST.ESTADO_ORDEN.ANULADA}}
                        </option>
                    </select>
                </c-input-group>
            </c-col>
        </c-row>
        <div class="overflow-auto">
            <table cTable hover striped small>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Estado orden</th>
                        <th scope="col" style="min-width: 130px;">Número</th>
                        <th scope="col">Atendido por</th>
                        <th scope="col">Fecha creación</th>
                        <th scope="col">Identificación cliente</th>
                        <th scope="col">Nombre cliente</th>
                        <th scope="col">Celular cliente</th>
                        <th scope="col">Cantidad servicios</th>
                        <th scope="col">Fecha entrega</th>
                        <th scope="col">Precio total</th>
                        <th scope="col">Abonado</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Estado pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <c-badge size="sm" class="text-info"
                                cTooltip="Se muestran las órdenes de trabajo {{ filtro.estadoOrden }}S que contengan los filtros ingresados">
                                <svg cIcon name="cil-warning"></svg>
                            </c-badge>
                        </td>
                        <td>
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.numeroOrden" (ngModelChange)="filtrar()"
                                name="orderNumber" #orderNumber="ngModel" maxlength="20" sizing="sm">
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.atendidoPor" (ngModelChange)="filtrar()"
                                name="attendedBy" #attendedBy="ngModel" maxlength="20" sizing="sm">
                        </td>
                        <td>
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.cliente.identificacion"
                                (ngModelChange)="filtrar()" name="identification" #identification="ngModel"
                                maxlength="20" sizing="sm">
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.cliente.nombre"
                                (ngModelChange)="filtrar()" name="nameClient" #nameClient="ngModel" maxlength="20"
                                sizing="sm">
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.cliente.celular"
                                (ngModelChange)="filtrar()" name="cellphone" #cellphone="ngModel" maxlength="20"
                                sizing="sm">
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <select cSelect [(ngModel)]="filtro.estadoPago" (ngModelChange)="filtrar()"
                                name="paymentStatus" #paymentStatus="ngModel" sizing="sm">
                                <option [value]="">
                                </option>
                                <option [value]="CONST.ESTADO_PAGO.PENDIENTE">
                                    {{CONST.ESTADO_PAGO.PENDIENTE}}
                                </option>
                                <option [value]="CONST.ESTADO_PAGO.PAGADO">
                                    {{CONST.ESTADO_PAGO.PAGADO}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    @for (orden of ordenesPorPagina[paginaActual-1]; track orden.numeroOrden; let idx = $index) {
                    <tr>
                        <td>
                            <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                                cTooltip="Ver orden" (click)="navegarAVerOrden(orden)">
                                <svg cIcon name="cil-external-link"></svg>
                            </button>
                        </td>
                        <td>
                            <c-badge
                                color="{{orden.estadoOrden == CONST.ESTADO_ORDEN.VIGENTE ? 'info' : orden.estadoOrden == CONST.ESTADO_ORDEN.ANULADA ? 'danger' : 'success' }}"
                                shape="rounded-pill">
                                {{orden.estadoOrden | uppercase}}
                            </c-badge>
                        </td>
                        <th scope="row">{{orden.numeroOrden}}</th>
                        <td>{{orden.atendidoPor}}</td>
                        <td>{{orden.fechaCreacion | date:CONST.FORMATS_VIEW.DATETIME }}</td>
                        <td>{{orden.cliente.identificacion}}</td>
                        <td>{{orden.cliente.nombre}}</td>
                        <td>{{orden.cliente.celular}}</td>
                        <td>{{orden.cantidadServicios}}</td>
                        <td>{{orden.fechaEntrega | date:CONST.FORMATS_VIEW.DATE}}</td>
                        <td>{{orden.precioTotal | currency: 'COP' : 'symbol-narrow' : '1.0'}}</td>
                        <td>{{orden.abono | currency: 'COP' : 'symbol-narrow' : '1.0'}}</td>
                        <td>{{orden.saldo | currency: 'COP' : 'symbol-narrow' : '1.0'}}</td>
                        <td>
                            <c-badge color="{{orden.estadoPago == CONST.ESTADO_PAGO.PENDIENTE ? 'warning' : 'success'}}"
                                shape="rounded-pill">
                                {{orden.estadoPago | uppercase}}
                            </c-badge>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            @if (ordenesPorPagina.length) {
            <c-pagination>
                <li cPageItem [disabled]="paginaActual == 1">
                    <a cPageLink role="button" (click)="paginaActual = 1">&laquo;</a>
                </li>
                <li cPageItem [disabled]="paginaActual == 1">
                    <a cPageLink role="button" (click)="paginaActual = paginaActual-1">&lt;</a>
                </li>
                @for (pagina of ordenesPorPagina; track $index) {
                <li cPageItem [active]="paginaActual == $index+1">
                    <a cPageLink role="button" (click)="paginaActual = $index+1">{{ $index+1 }}</a>
                </li>
                }
                <li cPageItem [disabled]="paginaActual == ordenesPorPagina.length">
                    <a cPageLink role="button" (click)="paginaActual = paginaActual+1">&gt;</a>
                </li>
                <li cPageItem [disabled]="paginaActual == ordenesPorPagina.length">
                    <a cPageLink role="button" (click)="paginaActual = ordenesPorPagina.length">&raquo;</a>
                </li>
            </c-pagination>
            }
            <p>{{ ordenesFiltradas.length }} resultados</p>
        </div>
    </c-card-body>
</c-card>

 <!-- TOASTERS -->

<c-toaster [placement]="'bottom-end'" class="p-3" position="fixed">
    <c-toast #estadoOrdenInvalido="cToast" [visible]="false" color="danger" class="text-white">
        <div class="d-flex">
            <c-toast-body>
                <span>Estado de orden inválido, se muestran por defecto las órdenes de trabajo {{ CONST.ESTADO_ORDEN.VIGENTE }}S.</span>
            </c-toast-body>
            <button cButtonClose white class="me-2 m-auto" (click)="estadoOrdenInvalido.visible = false"></button>
        </div>
    </c-toast>
</c-toaster>