<c-card>
    <c-card-header>
        <h5>Listado órdenes de trabajo</h5>
    </c-card-header>
    <c-card-body>
        <p>Órdenes de trabajo de la más reciente a la más antigua.</p>
        <div class="overflow-auto">
            <table cTable hover striped>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Estado orden</th>
                        <th scope="col">Número</th>
                        <th scope="col">Atendido por</th>
                        <th scope="col">Fecha creación</th>
                        <th scope="col">Identificación cliente</th>
                        <th scope="col">Nombre cliente</th>
                        <th scope="col">Celular cliente</th>
                        <th scope="col">Cantidad servicios</th>
                        <th scope="col">Fecha entrega</th>
                        <th scope="col">Precio total</th>
                        <th scope="col">Abonado</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Estado pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <c-badge size="sm" class="text-info"
                                cTooltip="Se muestran las órdenes de trabajo que contengan una parte de los filtros definidos.">
                                <svg cIcon name="cil-warning"></svg>
                            </c-badge>
                        </td>
                        <td>
                            <select cSelect [(ngModel)]="filtro.estadoOrden" (ngModelChange)="filtrar()"
                                name="orderStatus" #orderStatus="ngModel" sizing="sm">
                                <option [value]="">
                                </option>
                                <option [value]="CONST.ESTADO_ORDEN.VIGENTE">
                                    {{CONST.ESTADO_ORDEN.VIGENTE}}
                                </option>
                                <option [value]="CONST.ESTADO_ORDEN.FINALIZADA">
                                    {{CONST.ESTADO_ORDEN.FINALIZADA}}
                                </option>
                                <option [value]="CONST.ESTADO_ORDEN.ANULADA">
                                    {{CONST.ESTADO_ORDEN.ANULADA}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.numeroOrden" (ngModelChange)="filtrar()"
                                name="orderNumber" #orderNumber="ngModel" maxlength="20" sizing="sm">
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.atendidoPor" (ngModelChange)="filtrar()"
                                name="attendedBy" #attendedBy="ngModel" maxlength="20" sizing="sm">
                        </td>
                        <td>
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.cliente.identificacion"
                                (ngModelChange)="filtrar()" name="identification" #identification="ngModel"
                                maxlength="20" sizing="sm">
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.cliente.nombre"
                                (ngModelChange)="filtrar()" name="nameClient" #nameClient="ngModel" maxlength="20"
                                sizing="sm">
                        </td>
                        <td>
                            <input cFormControl type="text" [(ngModel)]="filtro.cliente.celular"
                                (ngModelChange)="filtrar()" name="cellphone" #cellphone="ngModel" maxlength="20"
                                sizing="sm">
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <select cSelect [(ngModel)]="filtro.estadoPago" (ngModelChange)="filtrar()"
                                name="paymentStatus" #paymentStatus="ngModel" sizing="sm">
                                <option [value]="">
                                </option>
                                <option [value]="CONST.ESTADO_PAGO.PENDIENTE">
                                    {{CONST.ESTADO_PAGO.PENDIENTE}}
                                </option>
                                <option [value]="CONST.ESTADO_PAGO.PAGADO">
                                    {{CONST.ESTADO_PAGO.PAGADO}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    @for (orden of ordenesFiltradas; track orden.numeroOrden) {
                    <tr>
                        <td>
                            <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                                cTooltip="Ver orden" (click)="verOrden(orden)">
                                <svg cIcon name="cil-external-link"></svg>
                            </button>
                        </td>
                        <td>
                            <c-badge
                                color="{{orden.estadoOrden == CONST.ESTADO_ORDEN.VIGENTE ? 'info' : orden.estadoOrden == CONST.ESTADO_ORDEN.ANULADA ? 'danger' : 'success' }}"
                                shape="rounded-pill">
                                {{orden.estadoOrden | uppercase}}
                            </c-badge>
                        </td>
                        <th scope="row">{{orden.numeroOrden}}</th>
                        <td>{{orden.atendidoPor}}</td>
                        <td>{{orden.fechaCreacion | date:CONST.FORMATS_VIEW.DATETIME }}</td>
                        <td>{{orden.cliente.identificacion}}</td>
                        <td>{{orden.cliente.nombre}}</td>
                        <td>{{orden.cliente.celular}}</td>
                        <td>{{orden.cantidadServicios}}</td>
                        <td>{{orden.fechaEntrega | date:CONST.FORMATS_VIEW.DATE}}</td>
                        <td>{{orden.precioTotal | currency: 'COP' : 'symbol-narrow' : '1.0'}}</td>
                        <td>{{orden.abono | currency: 'COP' : 'symbol-narrow' : '1.0'}}</td>
                        <td>{{orden.saldo | currency: 'COP' : 'symbol-narrow' : '1.0'}}</td>
                        <td>
                            <c-badge color="{{orden.estadoPago == CONST.ESTADO_PAGO.PENDIENTE ? 'warning' : 'success'}}"
                                shape="rounded-pill">
                                {{orden.estadoPago | uppercase}}
                            </c-badge>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </c-card-body>
</c-card>