<c-row>
    <c-col class="mb-3">
        <form cForm #serviciosForm="ngForm" class="overflow-auto">
            <table cTable hover small style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        @if (mostrarAcciones) {
                        <th scope="col" class="col-auto" style="min-width: 50px">
                        </th>
                        }
                        <th scope="col" class="col-6" style="min-width: 150px;">
                            <label cLabel="col" sizing="sm">Servicios:</label><span class="text-danger"
                                *ngIf="!esModoLectura"> *</span>
                        </th>
                        <th scope="col" class="col-auto" style="min-width: 85px;">
                            <label cLabel="col" sizing="sm">Precio:</label>
                            @if (!esModoLectura) {
                            <c-badge size="sm" class="text-info"
                                cTooltip="Si queda el precio en $0, se le puede establecer después">
                                <svg cIcon name="cil-warning"></svg>
                            </c-badge>
                            }
                        </th>
                        <th scope="col" class="col-3" style="min-width: 150px;">
                            <label cLabel="col" sizing="sm">Operario:</label>
                        </th>
                        @if (esModoLectura) {
                        <th scope="col" class="col-auto">
                            <label cLabel="col" sizing="sm">Estado:</label>
                        </th>
                        }
                        <!-- @if (puedeCambiarEstado) {
                        <th scope="col" class="col-auto" style="min-width: 145px;">
                            <label cLabel="col" sizing="sm">Estado:</label><span class="text-danger"> *</span>
                        </th>
                        } -->
                    </tr>
                </thead>
                <tbody>
                    @for (servicio of servicios; track $index) {
                    <tr>
                        @if (mostrarAcciones) {
                        <td>
                            @if (esModoLectura) {
                            <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                                cTooltip="Editar servicio" [cModalToggle]="editarServicioModal.id"
                                (click)="idServicioSeleccionado = servicio.id" class="ms-1 mt-1">
                                <svg cIcon name="cil-pencil"></svg>
                            </button>
                            }
                            @else if (servicios.length != 1) {
                            <button cButton color="danger" variant="outline" size="sm" shape="rounded-pill"
                                cTooltip="Borrar servicio" [cModalToggle]="borrarServicioModal.id"
                                (click)="indexServicioSeleccionado = $index" class="ms-1 mt-1">
                                <svg cIcon name="cil-x"></svg>
                            </button>
                            }
                        </td>
                        }
                        <td>
                            <textarea #textareaElement cFormControl rows="1" [(ngModel)]="servicio.descripcion"
                                name="nameService{{$index}}" #nameService="ngModel" (input)="adjustTextareasHeight()"
                                maxlength="255" [pattern]="CONST.REGULAR_EXP.STRING_VALID" required
                                [valid]="nameService.touched && nameService.invalid ? false : undefined"
                                [readonly]="esModoLectura" [plaintext]="esModoLectura" sizing="sm">
                            </textarea>
                            <c-form-feedback *ngIf="nameService.touched && nameService.invalid" [valid]="false">
                                Este campo es requerido!
                            </c-form-feedback>
                        </td>
                        <td>
                            <div class="position-relative">
                                <input cFormControl type="text"
                                    [ngModel]="servicio.precio | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                    (ngModelChange)="cambiarPrecioIndividual($event, $index)" name="price{{$index}}"
                                    #price="ngModel" maxlength="11" required [pattern]="CONST.REGULAR_EXP.CURRENCY"
                                    [valid]="price.touched && price.invalid ? false : undefined"
                                    [readonly]="esModoLectura" [plaintext]="esModoLectura" sizing="sm">
                                @if (esModoLectura && mostrarAcciones && !servicio.precioEstablecido) {
                                <c-badge size="sm" class="text-warning position-absolute" style="right: 0; top: 5px;"
                                    cTooltip="Precio por establecer">
                                    <svg cIcon name="cil-warning"></svg>
                                </c-badge>
                                }
                                <c-form-feedback *ngIf="price.touched && price.invalid" [valid]="false">
                                    Este campo debe ser un valor monetario válido!
                                </c-form-feedback>
                            </div>
                        </td>
                        <td>
                            <c-input-group>
                                <textarea #textareaElement cFormControl rows="1" [ngModel]="servicio.operario?.nombre"
                                    name="operator{{$index}}" #operator="ngModel" readonly [plaintext]="esModoLectura"
                                    sizing="sm">
                                </textarea>
                                @if (!esModoLectura) {
                                <button cButton color="primary" size="sm" variant="outline" cTooltip="Buscar operario"
                                    [cModalToggle]="operarioModal.id" (click)="indexServicioSeleccionado = $index">
                                    <svg cIcon name="cil-search"></svg>
                                </button>
                                }
                            </c-input-group>
                        </td>
                        @if (esModoLectura) {
                        <td>
                            <c-badge
                                color="{{servicio.estado == CONST.ESTADO_SERVICIO.RECIBIDO ? 'warning' : servicio.estado == CONST.ESTADO_SERVICIO.TERMINADO ?  'info' : 'success'}}"
                                shape="rounded-pill" class="mt-2">
                                {{servicio.estado | uppercase}}
                            </c-badge>
                        </td>
                        }
                        <!-- @else if (puedeCambiarEstado) {
                        <td>
                            <select cSelect [(ngModel)]="servicio.estado" name="state" #state="ngModel" required
                                [valid]="state.touched && state.invalid ? false : undefined" sizing="sm">
                                <option [value]="CONST.ESTADO_SERVICIO.RECIBIDO">{{CONST.ESTADO_SERVICIO.RECIBIDO}}
                                </option>
                                <option [value]="CONST.ESTADO_SERVICIO.TERMINADO">{{CONST.ESTADO_SERVICIO.TERMINADO}}
                                </option>
                                <option [value]="CONST.ESTADO_SERVICIO.DESPACHADO">{{CONST.ESTADO_SERVICIO.DESPACHADO}}
                                </option>
                            </select>
                        </td>
                        } -->
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    </c-col>
</c-row>
@if (!esModoLectura) {
<c-row>
    <c-col xs="auto">
        <button cButton color="primary" variant="outline" size="sm" shape="rounded-pill" cTooltip="Agregar servicio"
            (click)="agregarServicioAOrden()">
            <svg cIcon name="cil-plus"></svg>
        </button>
    </c-col>
</c-row>
}

<!-- MODALS -->

<c-modal #operarioModal backdrop="static" id="operarioModal" size="xl" fullscreen="lg" scrollable>
    <c-modal-header>
        <h5 cModalTitle>Buscar operario</h5>
        <button [cModalToggle]="operarioModal.id" cButtonClose
            (click)="esModoLectura ? editarServicioModal.visible = true : null"></button>
    </c-modal-header>
    <c-modal-body>
        @if (operarioModal.visible) {
        <listado-operarios [esEmbebido]="true" (seleccionOperarioEvent)="cambiarOperario($event);">
        </listado-operarios>
        }
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="operarioModal.id" cButton color="secondary"
            (click)="esModoLectura ? editarServicioModal.visible = true : null">
            Cerrar
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #editarServicioModal backdrop="static" id="editarServicioModal">
    <c-modal-header>
        <h5 cModalTitle>Editar servicio</h5>
        <button [cModalToggle]="editarServicioModal.id" cButtonClose (click)="idServicioSeleccionado = 0"></button>
    </c-modal-header>
    <c-modal-body>
        <formulario-servicio #formularioServicio [idServicio]="idServicioSeleccionado" [ocultarBoton]="true"
            (esFormularioValidoEvent)="esValidoFormServicio = $event" (servicioEditadoEvent)="servicioEditado($event)"
            (seleccionarOperarioEvent)="seleccionarOperario()">
        </formulario-servicio>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="editarServicioModal.id" cButton color="secondary" (click)="idServicioSeleccionado = 0">
            Cerrar
        </button>
        <button cButton color="primary"
            (click)="formularioServicio.editarServicio();"
            [disabled]="!esValidoFormServicio">
            Editar
            <svg cIcon name="cil-pencil"></svg>
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #borrarServicioModal backdrop="static" id="borrarServicioModal">
    <c-modal-header>
        <h5 cModalTitle>Borrar servicio</h5>
        <button [cModalToggle]="borrarServicioModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <p>¿ Está seguro de borrar este servicio ?</p>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="borrarServicioModal.id" cButton color="secondary">
            Cerrar
        </button>
        <button cButton color="danger" (click)="borrarServicio(indexServicioSeleccionado, borrarServicioModal)"
            class="text-white">
            Borrar
            <svg cIcon name="cil-x"></svg>
        </button>
    </c-modal-footer>
</c-modal>