<c-row>
    <c-col class="mb-3">
        <form cForm #serviciosForm="ngForm" class="overflow-auto">
            <table cTable hover bordered style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th scope="col" class="col-auto"></th>
                        <th scope="col" class="col-6" style="min-width: 150px;">Listado de servicios</th>
                        <th scope="col" class="col-auto">Precio individual</th>
                        <th scope="col" class="col-3" style="min-width: 150px;">Operario</th>
                        @if (esModoLectura) {
                        <th scope="col" class="col-auto">Estado</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (servicio of servicios; track $index) {
                    <tr>
                        <td>
                            @if (!esModoLectura) {
                            <button cButton color="danger" variant="outline" size="sm" shape="rounded-pill"
                                cTooltip="Borrar servicio" [cModalToggle]="borrarServicioModal.id"
                                (click)="indexServicioSeleccionado = $index">
                                <svg cIcon name="cil-x"></svg>
                            </button>
                            }
                            @else {
                            <button cButton color="primary" variant="outline" size="sm" shape="rounded-pill"
                                cTooltip="Editar servicio" [cModalToggle]="editarServicioModal.id"
                                (click)="indexServicioSeleccionado = $index">
                                <svg cIcon name="cil-pencil"></svg>
                            </button>
                            }
                        </td>
                        <td>
                            <textarea #textareaElement cFormControl rows="1" [(ngModel)]="servicio.descripcion"
                                name="nameService{{$index}}" #nameService="ngModel" (input)="adjustTextareasHeight()"
                                maxlength="100" required
                                [valid]="nameService.touched && nameService.invalid ? false : undefined"
                                [readonly]="esModoLectura" [plaintext]="esModoLectura">
                            </textarea>
                            <c-form-feedback *ngIf="!!(nameService.touched && nameService.invalid)" [valid]="false">
                                Este campo es requerido!
                            </c-form-feedback>
                        </td>
                        <td>
                            <input cFormControl type="text"
                                [ngModel]="servicio.precio | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                (ngModelChange)="cambiarPrecioIndividual($event, $index)" name="price{{$index}}"
                                #price="ngModel" maxlength="11" required [pattern]="CONST.REGULAR_EXP.CURRENCY"
                                [valid]="price.touched && price.invalid ? false : undefined" [readonly]="esModoLectura"
                                [plaintext]="esModoLectura">
                            <c-form-feedback *ngIf="!!(price.touched && price.invalid)" [valid]="false">
                                Este campo es requerido y debe ser un valor monetario válido!
                            </c-form-feedback>
                        </td>
                        <td>
                            <c-input-group>
                                <textarea #textareaElement cFormControl rows="1" [(ngModel)]="servicio.operario.nombre"
                                    name="operator{{$index}}" #operator="ngModel" readonly [plaintext]="esModoLectura">
                                </textarea>
                                <button *ngIf="!esModoLectura" cButton color="primary" size="sm" variant="outline"
                                    cTooltip="Buscar operario" [cModalToggle]="operarioModal.id"
                                    (click)="indexServicioSeleccionado = $index">
                                    <svg cIcon name="cil-search"></svg>
                                </button>
                                <c-form-feedback *ngIf="!!(operator.touched && operator.invalid)" [valid]="false">
                                    Este campo es requerido y debe ser un valor monetario válido!
                                </c-form-feedback>
                            </c-input-group>
                        </td>
                        @if (esModoLectura) {
                        <td>
                            <c-badge
                                color="{{servicio.estado == CONST.ESTADO_SERVICIO.RECIBIDO ? 'warning' : servicio.estado == CONST.ESTADO_SERVICIO.TERMINADO ?  'info' : 'success'}}"
                                shape="rounded-pill" class="mt-2">
                                {{servicio.estado | uppercase}}
                            </c-badge>
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    </c-col>
</c-row>
@if (!esModoLectura) {
<c-row>
    <c-col xs="auto">
        <button cButton color="primary" variant="outline" size="sm" shape="rounded-pill" cTooltip="Agregar servicio"
            (click)="agregarServicioAOrden()">
            <svg cIcon name="cil-plus"></svg>
        </button>
    </c-col>
</c-row>
}

<!-- MODALS -->

<c-modal #operarioModal backdrop="static" id="operarioModal" size="lg">
    <c-modal-header>
        <h5 cModalTitle>Buscar operario</h5>
        <button [cModalToggle]="operarioModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        @if (operarioModal.visible) {
        <listado-operarios
            (seleccionOperarioEvent)="cambiarOperario($event, indexServicioSeleccionado); operarioModal.visible = false; adjustTextareasHeight()">
        </listado-operarios>
        }
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="operarioModal.id" cButton color="secondary">
            Cerrar
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #editarServicioModal backdrop="static" id="editarServicioModal">
    <c-modal-header>
        <h5 cModalTitle>Editar servicio</h5>
        <button [cModalToggle]="editarServicioModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        @if (editarServicioModal.visible) {
        <formulario-servicio [servicio]="servicios[indexServicioSeleccionado]" [ocultarBoton]="true"
            (esFormularioValidoEvent)="esValidoFormServicio = $event">

        </formulario-servicio>
        }
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="editarServicioModal.id" cButton color="secondary">
            Cerrar
        </button>
        <button cButton color="primary" (click)="editarServicio(editarServicioModal, indexServicioSeleccionado)">
            Editar
            <svg cIcon name="cil-pencil"></svg>
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #borrarServicioModal backdrop="static" id="borrarServicioModal">
    <c-modal-header>
        <h5 cModalTitle>Borrar servicio</h5>
        <button [cModalToggle]="borrarServicioModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <p>¿ Está seguro de borrar este servicio ?</p>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="borrarServicioModal.id" cButton color="secondary">
            Cerrar
        </button>
        <button cButton color="danger" (click)="borrarServicio(borrarServicioModal, indexServicioSeleccionado)"
            class="text-white">
            Borrar
            <svg cIcon name="cil-x"></svg>
        </button>
    </c-modal-footer>
</c-modal>