<c-card>
    <c-card-header>
        <c-row>
            <c-col xs="auto" class="col-title">
                <h5 class="me-2"> {{ esModoLectura ? 'Ver' : esModoMigracion ? 'Migrar' : 'Crear'}} orden de trabajo
                </h5>
            </c-col>
            @if (esModoLectura) {
            <c-col xs="auto">
                <button cButton color="success" variant="ghost" size="sm" shape="rounded-pill"
                    cTooltip="Enviar por WhatsApp" [cModalToggle]="whatsAppModal.id"
                    *ngIf="orden.estadoOrden != CONST.ESTADO_ORDEN.ANULADA">
                    <svg cIcon name="cil-phone"></svg>
                </button>
                <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill" cTooltip="Descargar"
                    *ngIf="orden.estadoOrden != CONST.ESTADO_ORDEN.ANULADA" (click)="descargar()">
                    <svg cIcon name="cil-data-transfer-down"></svg>
                </button>
                <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill" cTooltip="Abonar"
                    [cModalToggle]="abonarModal.id" (click)="calcularSaldoNuevo()"
                    *ngIf="orden.estadoOrden == CONST.ESTADO_ORDEN.VIGENTE">
                    <svg cIcon name="cil-dollar"></svg>
                </button>
                <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                    cTooltip="Agregar comentario" [cModalToggle]="comentarioModal.id">
                    <svg cIcon name="cil-short-text"></svg>
                </button>
                <button cButton color="danger" variant="ghost" size="sm" shape="rounded-pill" cTooltip="Anular orden"
                    [cModalToggle]="anularModal.id"
                    *ngIf="orden.estadoOrden == CONST.ESTADO_ORDEN.VIGENTE && usuarioLocal.rol == CONST.ROL_ADMIN.PRINCIPAL">
                    <svg cIcon name="cil-x"></svg>
                </button>
            </c-col>
            }
            <c-col class="align-self-center">
                <c-badge *ngIf="esModoLectura"
                    color="{{orden.estadoOrden == CONST.ESTADO_ORDEN.VIGENTE ? 'info' : orden.estadoOrden == CONST.ESTADO_ORDEN.ANULADA ? 'danger' : 'success'}}"
                    shape="rounded-pill" class="float-end">
                    {{orden.estadoOrden | uppercase}}
                </c-badge>
                <label cLabel="col" *ngIf="esModoCreacion || esModoMigracion" class="text-danger float-end"
                    sizing="sm">* Campos requeridos</label>
            </c-col>
        </c-row>
    </c-card-header>
    <c-card-body>
        <div #elementoADescargar>
            @if (esModoMigracion) {
            <p>Crear orden de trabajo antigua, siempre y cuando esté vigente, ya sea por falta de pago o por falta de
                despacho de algún servicio.</p>
            }
            <form cForm #orderForm="ngForm" (ngSubmit)="ngSubmit()">
                <c-row> <!-- Datos automaticos -->
                    @if (esModoLectura) {
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Número de orden:</label>
                        <input cFormControl type="text" [ngModel]="orden.numeroOrden" name="orderNumber" readOnly
                            plaintext>
                    </c-col>
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Atendido por:</label>
                        <input cFormControl type="text" [ngModel]="orden.atendidoPor" name="attendedBy" readonly
                            plaintext>
                    </c-col>
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Fecha de creación:</label>
                        <input cFormControl type="text"
                            [ngModel]="orden.fechaCreacion | date:CONST.FORMATS_VIEW.DATETIME" name="createDate"
                            readonly plaintext>
                    </c-col>
                    }
                    @if (esModoMigracion) {
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Atendido por:</label><span class="text-danger"> *</span>
                        <select cSelect [(ngModel)]="orden.atendidoPorId" name="attendedBy" #attendedBy="ngModel" required
                            [valid]="attendedBy.touched && attendedBy.invalid ? false : undefined">
                            @for (admin of administradores; track $index) {
                            <option [value]="admin.identificacion">
                                {{admin.nombre}}
                            </option>
                            }
                        </select>
                        <c-form-feedback *ngIf="attendedBy.touched && attendedBy.invalid" [valid]="false">
                            Este campo es requerido!
                        </c-form-feedback>
                    </c-col>
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Fecha de creación:</label><span class="text-danger"> *</span>
                        <input cFormControl type="date" [(ngModel)]="fechaCreacion"
                            (ngModelChange)="validarFechaDeCreacion($event)" name="createDate" #createDate="ngModel"
                            required
                            [valid]="createDate.touched && (createDate.invalid || !esValidaFechaCreacion) ? false : undefined">
                        <c-form-feedback *ngIf="createDate.touched && (createDate.invalid || !esValidaFechaCreacion)"
                            [valid]="false">
                            Esta fecha debe ser anterior o igual al día actual!
                        </c-form-feedback>
                    </c-col>
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Hora de creación:</label><span class="text-danger"> *</span>
                        <c-input-group>
                            <input cFormControl type="text" [(ngModel)]="horaCreacion" name="createTime"
                                #createTime="ngModel" required maxlength="5" [pattern]="CONST.REGULAR_EXP.TIME"
                                [valid]="createTime.touched && createTime.invalid ? false : undefined"
                                [placeholder]="CONST.FORMATS_VIEW.TIME_ONLY">
                            <select cSelect [(ngModel)]="amOpm" name="amOpmSelect" #amOpmSelect="ngModel" required
                                [valid]="amOpmSelect.touched && amOpmSelect.invalid ? false : undefined">
                                <option [value]="'AM'">AM</option>
                                <option [value]="'PM'">PM</option>
                            </select>
                            <c-form-feedback
                                *ngIf="(createTime.touched && createTime.invalid) || (amOpmSelect.touched && amOpmSelect.invalid)"
                                [valid]="false">
                                Este campo debe ser una hora válida!
                            </c-form-feedback>
                        </c-input-group>
                    </c-col>
                    }
                </c-row>
                <c-row> <!-- Datos del cliente -->
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Identificación cliente:</label><span class="text-danger"
                            *ngIf="esModoCreacion || esModoMigracion"> *</span>
                        <input cFormControl type="text" [(ngModel)]="orden.cliente.identificacion" name="identification"
                            #identification="ngModel" maxlength="15" [pattern]="CONST.REGULAR_EXP.NUMBER" required
                            [valid]="identification.touched && identification.invalid ? false : undefined"
                            [readonly]="esModoLectura" [plaintext]="esModoLectura">
                        <c-form-feedback *ngIf="identification.touched && identification.invalid" [valid]="false">
                            Este campo debe ser numérico!
                        </c-form-feedback>
                    </c-col>
                    <c-col sm="6" lg="4" class="mb-3">
                        <label cLabel="col" sizing="sm">Nombre cliente:</label><span class="text-danger"
                            *ngIf="esModoCreacion || esModoMigracion"> *</span>
                        @if (!esModoLectura) {
                        <c-badge size="sm" class="text-info"
                            cTooltip="Si la identificación del cliente ya existe, se le actualiza el nombre si se modifica">
                            <svg cIcon name="cil-warning"></svg>
                        </c-badge>
                        }
                        <input cFormControl type="text" [(ngModel)]="orden.cliente.nombre" name="nameClient"
                            #nameClient="ngModel" maxlength="100" required
                            [valid]="nameClient.touched && nameClient.invalid ? false : undefined"
                            [readonly]="esModoLectura" [plaintext]="esModoLectura">
                        <c-form-feedback *ngIf="nameClient.touched && nameClient.invalid" [valid]="false">
                            Este campo es requerido!
                        </c-form-feedback>
                    </c-col>
                    <c-col sm="6" lg="4" class="mb-3">
                        <c-row>
                            <c-col>
                                <label cLabel="col" sizing="sm">Celular cliente:</label><span class="text-danger"
                                    *ngIf="esModoCreacion || esModoMigracion"> *</span>
                                @if (!esModoLectura) {
                                <c-badge size="sm" class="text-info"
                                    cTooltip="Si la identificación del cliente ya existe, se le actualiza el celular si se modifica">
                                    <svg cIcon name="cil-warning"></svg>
                                </c-badge>
                                }
                                <input cFormControl type="text" [(ngModel)]="orden.cliente.celular" name="cellphone"
                                    #cellphone="ngModel" maxlength="20" [pattern]="CONST.REGULAR_EXP.NUMBER" required
                                    [valid]="cellphone.touched && cellphone.invalid ? false : undefined"
                                    [readonly]="esModoLectura" [plaintext]="esModoLectura">
                                <c-form-feedback *ngIf="cellphone.touched && cellphone.invalid" [valid]="false">
                                    Este campo debe ser numérico!
                                </c-form-feedback>
                            </c-col>
                            @if (esModoCreacion || esModoMigracion) {
                            <c-col xs="auto" class="mt-3">
                                <button cButton color="primary" variant="outline" size="sm" shape="rounded-pill"
                                    cTooltip="Buscar cliente" [cModalToggle]="clientesModal.id">
                                    <svg cIcon name="cil-search"></svg>
                                </button>
                            </c-col>
                            }
                        </c-row>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col xxl="8" class="mb-3"> <!-- Datos de los servicios -->
                        <listado-servicios [servicios]="orden.servicios" [esModoLectura]="esModoLectura"
                            [mostrarAcciones]="orden.estadoOrden == CONST.ESTADO_ORDEN.VIGENTE"
                            [puedeCambiarEstado]="esModoMigracion" (cambiaronPreciosEvent)="calcularTotal()"
                            (esFormularioValidoEvent)="sonValidosServicios = $event"
                            (servicioEditadoEvent)="servicioEditado($event);"></listado-servicios>
                    </c-col>
                    <c-col xxl="4" class="mb-3"> <!-- Datos de pago -->
                        <c-card>
                            <c-card-header>
                                <c-row>
                                    <c-col xs="auto">
                                        <h6>Datos de pago</h6>
                                    </c-col>
                                    @if (esModoLectura) {
                                    <c-col class="align-self-center">
                                        <c-badge
                                            color="{{orden.estadoPago == CONST.ESTADO_PAGO.PENDIENTE ? 'warning' : 'success'}}"
                                            shape="rounded-pill" class="float-end">
                                            {{orden.estadoPago | uppercase}}
                                        </c-badge>
                                    </c-col>
                                    }
                                </c-row>
                            </c-card-header>
                            <c-card-body>
                                <c-row>
                                    <c-col sm="6" class="mb-3">
                                        <label cLabel="col" sizing="sm">Precio total:</label>
                                        <input cFormControl type="text" readOnly plaintext
                                            [ngModel]="orden.precioTotal | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                            name="totalPrice">
                                    </c-col>
                                    <c-col sm="6" class="mb-3">
                                        <label cLabel="col" sizing="sm">Abono:</label><span class="text-danger"
                                            *ngIf="esModoCreacion || esModoMigracion"> *</span>
                                        <input cFormControl type="text"
                                            [ngModel]="orden.abono | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                            (ngModelChange)="cambiarAbono($event)" name="downPayment"
                                            #downPayment="ngModel" maxlength="11" [pattern]="CONST.REGULAR_EXP.CURRENCY"
                                            required
                                            [valid]="downPayment.touched && downPayment.invalid ? false : undefined"
                                            [readonly]="esModoLectura" [plaintext]="esModoLectura">
                                        <c-form-feedback *ngIf="downPayment.touched && downPayment.invalid"
                                            [valid]="false">
                                            Este campo debe ser un valor monetario válido!
                                        </c-form-feedback>
                                    </c-col>
                                    <c-col sm="6" class="mb-3">
                                        <label cLabel="col" sizing="sm">Saldo:</label>
                                        <input cFormControl type="text" readOnly plaintext
                                            [ngModel]="orden.saldo | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                            name="balance" #balance="ngModel" [pattern]="CONST.REGULAR_EXP.CURRENCY"
                                            [valid]="balance.invalid ? false : undefined">
                                        <c-form-feedback *ngIf="balance.invalid" [valid]="false">
                                            El saldo no puede quedar negativo!
                                        </c-form-feedback>
                                    </c-col>
                                    <c-col sm="6" class="mb-3">
                                        <label cLabel="col" sizing="sm">Fecha de entrega:</label><span
                                            class="text-danger" *ngIf="esModoCreacion || esModoMigracion">
                                            *</span>
                                        <input cFormControl type="date" [(ngModel)]="orden.fechaEntrega"
                                            (ngModelChange)="validarFechaDeEntrega($event)" name="deliveryDate"
                                            #deliveryDate="ngModel" required
                                            [valid]="deliveryDate.touched && (deliveryDate.invalid || !esValidaFechaEntrega) ? false : undefined"
                                            [readonly]="esModoLectura" [plaintext]="esModoLectura">
                                        <c-form-feedback
                                            *ngIf="deliveryDate.touched && (deliveryDate.invalid || !esValidaFechaEntrega)"
                                            [valid]="false">
                                            Esta fecha debe ser posterior o igual al día actual!
                                        </c-form-feedback>
                                    </c-col>
                                </c-row>
                            </c-card-body>
                        </c-card>
                    </c-col>
                </c-row>
                <c-row> <!-- Comentario -->
                    @if (esModoLectura) {
                    <c-col xs="12" class="mb-3">
                        @for (comentario of orden.comentarios; track $index) {
                        <hr>
                        <div>
                            <label cLabel="col" sizing="sm" class="d-inline text-secondary fw-semibold">
                                Comentario por
                            </label>
                            <label cLabel="col" sizing="sm" class="d-inline text-secondary fw-bold">
                                {{comentario.nombreAdmin}}
                            </label>
                            <label cLabel="col" sizing="sm" class="d-inline text-secondary fw-semibold">
                                el día
                            </label>
                            <label cLabel="col" sizing="sm" class="d-inline text-secondary fw-bold">
                                {{comentario.fecha | date:CONST.FORMATS_VIEW.DATETIME }}:
                            </label>
                            <p>{{comentario.descripcion}}</p>
                        </div>
                        }
                    </c-col>
                    }
                    @if (esModoCreacion || esModoMigracion) {
                    <c-col xs="12" class="mb-3">
                        <label cLabel="col" sizing="sm">Comentario:</label>
                        <textarea cFormControl rows="5" [(ngModel)]="comentarioNuevo" name="comment" #comment="ngModel"
                            maxlength="255"></textarea>
                    </c-col>
                    }
                </c-row>
                @if (esModoCreacion || esModoMigracion) {
                <input cButton color="primary" type="submit" value="{{esModoCreacion ? 'Crear' : 'Migrar'}} orden"
                    [disabled]="orderForm.invalid || !sonValidosServicios">
                }
            </form>
        </div>
    </c-card-body>
</c-card>

<!-- MODALS -->

<c-modal #clientesModal backdrop="static" id="clientesModal" size="lg" scrollable>
    <c-modal-header>
        <h5 cModalTitle>Buscar cliente</h5>
        <button [cModalToggle]="clientesModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        @if (clientesModal.visible) {
        <listado-clientes (seleccionClienteEvent)="cambiarCliente($event); clientesModal.visible = false">
        </listado-clientes>
        }
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="clientesModal.id" cButton color="secondary">
            Cerrar
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #whatsAppModal backdrop="static" id="whatsAppModal">
    <form cForm #whatsAppForm="ngForm">
        <c-modal-header>
            <h5 cModalTitle>Enviar orden de trabajo por WhatsApp</h5>
            <button [cModalToggle]="whatsAppModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            @if (whatsAppModal.visible) {
            <label cLabel="col" sizing="sm">Confirma el número de WhatsApp:</label><span class="text-danger"> *</span>
            <input cFormControl type="text" [(ngModel)]="whatsAppNumber" name="wpNumber" #wpNumber="ngModel"
                maxlength="20" [pattern]="CONST.REGULAR_EXP.NUMBER" maxlength="10" minlength="10" required
                [valid]="wpNumber.touched && wpNumber.invalid ? false : undefined">
            <c-form-feedback *ngIf="wpNumber.touched && wpNumber.invalid" [valid]="false">
                Este campo debe ser un número de celular válido!
            </c-form-feedback>
            }
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="whatsAppModal.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="success" (click)="enviarPorWhatsApp(whatsAppModal)" [disabled]="whatsAppForm.invalid"
                class="text-white">
                Enviar
                <svg cIcon name="cil-phone"></svg>
            </button>
        </c-modal-footer>
    </form>
</c-modal>

<c-modal #abonarModal backdrop="static" id="abonarModal">
    <form cForm #abonarForm="ngForm">
        <c-modal-header>
            <h5 cModalTitle>Abonar a orden de trabajo</h5>
            <button [cModalToggle]="abonarModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            @if (abonarModal.visible) {
            <c-row>
                <c-col sm="6" lg="12" xl="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Precio total:</label>
                    <input cFormControl type="text" readOnly plaintext
                        [ngModel]="orden.precioTotal | currency: 'COP' : 'symbol-narrow' : '1.0'" name="totalPrice">
                </c-col>
                <c-col sm="6" lg="12" xl="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Abonado:</label>
                    <input cFormControl type="text" readOnly plaintext
                        [ngModel]="orden.abono | currency: 'COP' : 'symbol-narrow' : '1.0'" name="downPayment">
                </c-col>
                <c-col sm="6" lg="12" xl="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Saldo:</label>
                    <input cFormControl type="text" readOnly plaintext
                        [ngModel]="orden.saldo | currency: 'COP' : 'symbol-narrow' : '1.0'" name="balance">
                </c-col>
                <c-col sm="6" lg="12" xl="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Nuevo abono:</label><span class="text-danger"> *</span>
                    <input cFormControl type="text" [ngModel]="abonoNuevo | currency: 'COP' : 'symbol-narrow' : '1.0'"
                        (ngModelChange)="cambiarAbonoNuevo($event)" name="downPaymentNew" #downPaymentNew="ngModel"
                        maxlength="11" [pattern]="CONST.REGULAR_EXP.CURRENCY" required
                        [valid]="downPaymentNew.touched && (downPaymentNew.invalid || abonoNuevo == 0) ? false : undefined">
                    <c-form-feedback *ngIf="downPaymentNew.touched && (downPaymentNew.invalid || abonoNuevo == 0)"
                        [valid]="false">
                        Este campo debe ser un valor monetario válido!
                    </c-form-feedback>
                </c-col>
                <c-col sm="6" lg="12" xl="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Nuevo saldo:</label>
                    <input cFormControl type="text" readOnly plaintext
                        [ngModel]="saldoNuevo | currency: 'COP' : 'symbol-narrow' : '1.0'" name="balanceNew"
                        #balanceNew="ngModel" [pattern]="CONST.REGULAR_EXP.CURRENCY"
                        [valid]="balanceNew.invalid ? false : undefined">
                    <c-form-feedback *ngIf="balanceNew.invalid" [valid]="false">
                        El saldo no puede quedar negativo!
                    </c-form-feedback>
                </c-col>
            </c-row>
            }
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="abonarModal.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="primary" (click)="abonar(abonarModal)"
                [disabled]="abonarForm.invalid || abonoNuevo == 0">
                Abonar
                <svg cIcon name="cil-dollar"></svg>
            </button>
        </c-modal-footer>
    </form>
</c-modal>

<c-modal #comentarioModal backdrop="static" id="comentarioModal">
    <form cForm #comentarioForm="ngForm">
        <c-modal-header>
            <h5 cModalTitle>Agregar comentario a orden de trabajo</h5>
            <button [cModalToggle]="comentarioModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            @if (comentarioModal.visible) {
            <label cLabel="col" sizing="sm">Comentario:</label><span class="text-danger"> *</span>
            <textarea cFormControl rows="5" [(ngModel)]="comentarioNuevo" name="commentNew" #commentNew="ngModel"
                maxlength="255" required
                [valid]="commentNew.touched && commentNew.invalid ? false : undefined"></textarea>
            <c-form-feedback *ngIf="commentNew.touched && commentNew.invalid" [valid]="false">
                Este campo es requerido!
            </c-form-feedback>
            }
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="comentarioModal.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="primary" (click)="agregarNuevoComentario(comentarioModal)"
                [disabled]="comentarioForm.invalid">
                Agregar
                <svg cIcon name="cil-short-text"></svg>
            </button>
        </c-modal-footer>
    </form>
</c-modal>

<c-modal #anularModal backdrop="static" id="anularModal">
    <form cForm #anularForm="ngForm">
        <c-modal-header>
            <h5 cModalTitle>Anular orden de trabajo</h5>
            <button [cModalToggle]="anularModal.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
            @if (anularModal.visible) {
            @if (orden.abono) {
            <p>Para poder anular la orden de trabajo, por favor comente que se hizo con lo ya abonado ({{orden.abono |
                currency: 'COP' : 'symbol-narrow' : '1.0'}}).</p>
            }
            <label cLabel="col" sizing="sm">Comentario:</label><span class="text-danger"> *</span>
            <textarea cFormControl rows="5" [(ngModel)]="comentarioAnulacion" name="commentNew" #commentNew="ngModel"
                maxlength="200" required
                [valid]="commentNew.touched && commentNew.invalid ? false : undefined"></textarea>
            <c-form-feedback *ngIf="commentNew.touched && commentNew.invalid" [valid]="false">
                Este campo es requerido!
            </c-form-feedback>
            }
        </c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="anularModal.id" cButton color="secondary">
                Cerrar
            </button>
            <button cButton color="danger" (click)="anular(anularModal)" [disabled]="anularForm.invalid"
                class="text-white">
                Anular
                <svg cIcon name="cil-x"></svg>
            </button>
        </c-modal-footer>
    </form>
</c-modal>