<c-card>
    <c-card-header>
        <c-row>
            <c-col xs="auto" class="col-title">
                <h5> {{ esSoloLectura ? 'Ver' : 'Crear'}} órden de trabajo</h5>
            </c-col>
            @if (esSoloLectura) {
            <c-col xs="auto">
                <div class="actions">
                    <button cButton color="success" variant="ghost" size="sm" shape="rounded-pill"
                        (click)="enviarPorWhatsApp()" cTooltip="Enviar por WhatsApp">
                        <svg cIcon name="cil-phone"></svg>
                    </button>
                    <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                        (click)="descargarOrden()" cTooltip="Descargar órden">
                        <svg cIcon name="cil-data-transfer-down"></svg>
                    </button>
                    <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                        (click)="abonarAOrden()" cTooltip="Abonar">
                        <svg cIcon name="cil-dollar"></svg>
                    </button>
                    <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                        (click)="agregarComentario()" cTooltip="Agregar comentario">
                        <svg cIcon name="cil-short-text"></svg>
                    </button>
                    <button cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                        (click)="cambiarEstadoServicios()" cTooltip="Cambiar estado de servicios">
                        <svg cIcon name="cil-flag-alt"></svg>
                    </button>
                    <button cButton color="danger" variant="ghost" size="sm" shape="rounded-pill"
                        (click)="cancelarOrden()" cTooltip="Cancelar órden">
                        <svg cIcon name="cil-x"></svg>
                    </button>
                </div>
            </c-col>
            <c-col class="align-self-center">
                <c-badge color="{{orden.orderStatus == constService.ESTADO_ORDEN.VIGENTE ? 'info' : 'danger'}}"
                    shape="rounded-pill" class="float-end">
                    {{orden.orderStatus | uppercase}}
                </c-badge>
            </c-col>
            }
        </c-row>
    </c-card-header>
    <c-card-body>
        <form cForm #orderForm="ngForm" (ngSubmit)="onSubmit()">
            <c-row> <!-- Datos automaticos -->
                <c-col sm="6" md="4">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Número de órden:</label>
                        <input cFormControl type="text" readOnly plaintext [ngModel]="orden.orderNumber"
                            name="orderNumber">
                    </div>
                </c-col>
                <c-col sm="6" md="4">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Atendido por:</label>
                        <input cFormControl type="text" readOnly plaintext [ngModel]="orden.attendedBy"
                            name="attendedBy">
                    </div>
                </c-col>
                <c-col sm="6" md="4">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Fecha de creación:</label>
                        <input cFormControl type="text" readOnly plaintext
                            [ngModel]="orden.createDate | date:constService.FORMATS_VIEW.DATETIME" name="date">
                    </div>
                </c-col>
            </c-row>
            <c-row> <!-- Datos del cliente -->
                <c-col sm="6" md="4">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Nombre cliente:</label>
                        <input cFormControl type="text" [(ngModel)]="orden.client.name" name="nameClient"
                            #nameClient="ngModel" maxlength="100" required
                            [valid]="nameClient.touched && nameClient.invalid ? false : undefined"
                            [readonly]="esSoloLectura" [plaintext]="esSoloLectura">
                        <c-form-feedback *ngIf="!!(nameClient.touched && nameClient.invalid)" [valid]="false">
                            Este campo es requerido!
                        </c-form-feedback>
                    </div>
                </c-col>
                <c-col sm="6" md="4">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Identificación cliente:</label>
                        <input cFormControl type="text" [(ngModel)]="orden.client.identification" name="identification"
                            #identification="ngModel" maxlength="20" [pattern]="constService.REGULAR_EXP.NUMBER"
                            required [valid]="identification.touched && identification.invalid ? false : undefined"
                            [readonly]="esSoloLectura" [plaintext]="esSoloLectura">
                        <c-form-feedback *ngIf="!!(identification.touched && identification.invalid)" [valid]="false">
                            Este campo es requerido y debe ser numérico!
                        </c-form-feedback>
                    </div>
                </c-col>
                <c-col sm="6" md="4">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Celular cliente:</label>
                        <input cFormControl type="text" [(ngModel)]="orden.client.cellphone" name="phone"
                            #phone="ngModel" maxlength="10" [pattern]="constService.REGULAR_EXP.NUMBER" required
                            [valid]="phone.touched && phone.invalid ? false : undefined" [readonly]="esSoloLectura"
                            [plaintext]="esSoloLectura">
                        <c-form-feedback *ngIf="!!(phone.touched && phone.invalid)" [valid]="false">
                            Este campo es requerido y debe ser numérico!
                        </c-form-feedback>
                    </div>
                </c-col>
            </c-row>
            <c-row> <!-- Datos de los servicios -->
                <c-col sm="12" md="8">
                    <c-row class="mb-3">
                        <c-col>
                            <listado-servicios [services]="orden.services" [esSoloLectura]="esSoloLectura"
                                (cambiaronPreciosEvent)="calcularTotal()"></listado-servicios>
                        </c-col>
                    </c-row>
                    <c-row class="mb-3"> <!-- Comentario -->
                        <c-col>
                            <div>
                                <label cLabel="col" sizing="sm">Comentario general:</label>
                                <textarea cFormControl rows="5" [(ngModel)]="orden.comment" name="comment"
                                    #comment="ngModel" maxlength="500" required
                                    [valid]="comment.touched && comment.invalid ? false : undefined"
                                    [readonly]="esSoloLectura" [plaintext]="esSoloLectura"></textarea>
                                <c-form-feedback *ngIf="!!(comment.touched && comment.invalid)" [valid]="false">
                                    Este campo es requerido!
                                </c-form-feedback>
                            </div>
                        </c-col>
                    </c-row>
                </c-col>
                <c-col> <!-- Datos calculados -->
                    <c-card class="mb-3">
                        <c-card-header>
                            <h6>Datos de pago y entrega</h6>
                        </c-card-header>
                        <c-card-body>
                            <c-row>
                                @if (esSoloLectura) {
                                <c-col sm="6" md="12">
                                    <div class="mb-3">
                                        <label cLabel="col" sizing="sm">Estado del pago:</label>
                                        <c-badge
                                            color="{{orden.paymentStatus == constService.ESTADO_PAGO.PENDIENTE ? 'warning' : 'success'}}"
                                            shape="rounded-pill" class="float-end mt-2">
                                            {{orden.paymentStatus | uppercase}}
                                        </c-badge>
                                    </div>
                                </c-col>
                                }
                                <c-col sm="6" md="12">
                                    <div class="mb-3">
                                        <label cLabel="col" sizing="sm">Precio total:</label>
                                        <input cFormControl id="i-valor-total" type="text" readOnly plaintext
                                            [ngModel]="orden.totalValue | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                            name="totalValue">
                                    </div>
                                </c-col>
                                <c-col sm="6" md="12">
                                    <div class="mb-3">
                                        <label cLabel="col" sizing="sm">Abono:</label>
                                        <input cFormControl id="i-abono" type="text"
                                            [ngModel]="orden.downPayment | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                            (ngModelChange)="cambiarAbono($event)" name="payment" #payment="ngModel"
                                            maxlength="11" [pattern]="constService.REGULAR_EXP.CURRENCY" required
                                            [valid]="payment.touched && payment.invalid ? false : undefined"
                                            [readonly]="esSoloLectura" [plaintext]="esSoloLectura">
                                        <c-form-feedback *ngIf="!!(payment.touched && payment.invalid)" [valid]="false">
                                            Este campo es requerido y debe ser un valor monetario válido!
                                        </c-form-feedback>
                                    </div>
                                </c-col>
                                <c-col sm="6" md="12">
                                    <div class="mb-3">
                                        <label cLabel="col" sizing="sm">Saldo:</label>
                                        <input cFormControl id="i-saldo" type="text" readOnly plaintext
                                            [ngModel]="orden.balance | currency: 'COP' : 'symbol-narrow' : '1.0'"
                                            name="balance" #balance="ngModel"
                                            [pattern]="constService.REGULAR_EXP.CURRENCY"
                                            [valid]="balance.invalid ? false : undefined">
                                        <c-form-feedback *ngIf="!!(balance.invalid)" [valid]="false">
                                            El saldo no puede quedar en un valor monetario negativo!
                                        </c-form-feedback>
                                    </div>
                                </c-col>
                                <c-col sm="6" md="12">
                                    <div class="mb-3">
                                        <label cLabel="col" sizing="sm">Fecha de entrega:</label>
                                        <input cFormControl type="date" [(ngModel)]="orden.deliveryDate" name="deadline"
                                            #deadline="ngModel" required
                                            [valid]="deadline.touched && deadline.invalid ? false : undefined"
                                            [readonly]="esSoloLectura" [plaintext]="esSoloLectura">
                                        <c-form-feedback *ngIf="!!(deadline.touched && deadline.invalid)"
                                            [valid]="false">
                                            Este campo es requerido!
                                        </c-form-feedback>
                                    </div>
                                </c-col>
                            </c-row>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
            @if (!esSoloLectura) {
            <input cButton color="primary" type="submit" value="Crear órden" [disabled]="orderForm.invalid">
            }
        </form>
    </c-card-body>
</c-card>