<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col sm="9" lg="7" xl="5">
        <c-card class="p-4">
          <c-card-body>
            <form cForm #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <h1>{{ constService.NOMBRE_EMPRESA }}</h1>
              <p class="text-body-secondary">Ingresa tus credenciales</p>
              <c-row>
                <c-col xs="12" class="mb-3">
                  <c-input-group>
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input cFormControl type="text" [(ngModel)]="usuario.identificacion" name="identification"
                      #identification="ngModel" placeholder="Identificación" maxlength="20" required
                      [valid]="identification.touched && identification.invalid ? false : undefined" />
                    <c-form-feedback *ngIf="!!(identification.touched && identification.invalid)" [valid]="false">
                      Este campo es requerido!
                    </c-form-feedback>
                  </c-input-group>
                </c-col>
                <c-col xs="12" class="mb-4">
                  <c-input-group>
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input cFormControl type="password" [(ngModel)]="usuario.clave" name="password" #password="ngModel"
                      placeholder="Contraseña" maxlength="20" required
                      [valid]="password.touched && password.invalid ? false : undefined" />
                    <c-form-feedback *ngIf="!!(password.touched && password.invalid)" [valid]="false">
                      Este campo es requerido!
                    </c-form-feedback>
                  </c-input-group>
                </c-col>
              </c-row>
              <c-row class="justify-content-between">
                <c-col xs="auto">
                  <input cButton color="primary" type="submit" value="Iniciar sesión" [disabled]="loginForm.invalid">
                </c-col>
                <c-col xs="auto">
                  <a cButton color="link" class="w-100" [routerLink]="['/recuperacion']">
                    Recuperar contraseña
                  </a>
                </c-col>
              </c-row>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>

<c-toaster [placement]="'bottom-end'" class="p-3" position="fixed">
  <c-toast #toast="cToast" [visible]="false" color="danger" class="text-white">
    <div class="d-flex">
      <c-toast-body>
        <span>Credenciales incorrectas.</span>
      </c-toast-body>
      <button cButtonClose white class="me-2 m-auto" (click)="toast.visible = false"></button>
    </div>
  </c-toast>
</c-toaster>