<c-card>
    <c-card-header>
        <c-row>
            <c-col xs="auto" class="col-title">
                <h5>Listado administradores</h5>
            </c-col>
            <c-col xs="auto">
                <a cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                    cTooltip="Agregar administrador" [routerLink]="['/admins/agregar']">
                    <svg cIcon name="cil-user-plus"></svg>
                </a>
            </c-col>
        </c-row>
    </c-card-header>
    <c-card-body>
        <div class="overflow-auto">
            <table cTable hover striped>
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 90px;">Acciones</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @for (admin of administradores; track admin.identificacion) {
                    <tr>
                        <td>
                            <a cButton color="primary" variant="ghost" size="sm" shape="rounded-pill"
                                [cTooltip]="adminLocal.identificacion == admin.identificacion ? 'Ver perfil' : 'Ver administrador'"
                                (click)="navegarAVerAdmin(admin.identificacion)">
                                <svg cIcon name="cil-external-link"></svg>
                            </a>
                            <a cButton color="success" variant="ghost" size="sm" shape="rounded-pill"
                                [cTooltip]="adminLocal.identificacion == admin.identificacion ? 'Editar perfil' : 'Editar administrador'"
                                (click)="navegarAEditarAdmin(admin.identificacion)">
                                <svg cIcon name="cil-pencil"></svg>
                            </a>
                        </td>
                        <td scope="row">{{admin.identificacion}}</td>
                        <td>{{admin.nombre}}</td>
                        <td>{{admin.celular}}</td>
                        <td>{{admin.rol}}</td>
                        <td>
                            <c-badge color="{{admin.estado == CONST.ESTADO_ADMIN.ACTIVO ? 'info' : 'danger'}}"
                                shape="rounded-pill">
                                {{admin.estado | uppercase}}
                            </c-badge>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </c-card-body>
</c-card>