<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">¡Uy! Te has perdido.</h4>
          <p class="text-body-secondary float-start">
            No se ha encontrado la página que busca.
          </p>
        </div>
        <!-- <button cButton color="info">Volver a intentar</button> -->
      </c-col>
    </c-row>
  </c-container>
</div>
