<c-card>
    <c-card-header>
        <c-row>
            <c-col xs="auto">
                <h6>Datos de seguridad</h6>
            </c-col>
        </c-row>
    </c-card-header>
    <c-card-body>
        <form cForm #datosSeguridadForm="ngForm">
            <c-row>
                <c-col lg="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Pregunta 1:</label>
                    <select cSelect [(ngModel)]="datosSeguridad.pregunta1" name="pregunta1" #pregunta1="ngModel"
                        required [valid]="pregunta1.touched && pregunta1.invalid ? false : undefined">
                        @for (pregunta of preguntas; track $index) {
                        <option [value]="pregunta.etiqueta">{{pregunta.etiqueta}}
                        </option>
                        }
                    </select>
                    <c-form-feedback *ngIf="!!(pregunta1.touched && pregunta1.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
                <c-col lg="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Respuesta 1:</label>
                    <input cFormControl type="text" [(ngModel)]="datosSeguridad.respuesta1" name="respuesta1"
                        #respuesta1="ngModel" maxlength="20" required
                        [valid]="respuesta1.touched && respuesta1.invalid ? false : undefined">
                    <c-form-feedback *ngIf="!!(respuesta1.touched && respuesta1.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row>
                <c-col lg="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Pregunta 2:</label>
                    <select cSelect [(ngModel)]="datosSeguridad.pregunta2" name="pregunta2" #pregunta2="ngModel"
                        required [valid]="pregunta2.touched && pregunta2.invalid ? false : undefined">
                        @for (pregunta of preguntas; track $index) {
                        <option [value]="pregunta.etiqueta">{{pregunta.etiqueta}}
                        </option>
                        }
                    </select>
                    <c-form-feedback *ngIf="!!(pregunta2.touched && pregunta2.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
                <c-col lg="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Respuesta 2:</label>
                    <input cFormControl type="text" [(ngModel)]="datosSeguridad.respuesta2" name="respuesta2"
                        #respuesta2="ngModel" maxlength="20" required
                        [valid]="respuesta2.touched && respuesta2.invalid ? false : undefined">
                    <c-form-feedback *ngIf="!!(respuesta2.touched && respuesta2.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row>
                <c-col lg="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Pregunta 3:</label>
                    <select cSelect [(ngModel)]="datosSeguridad.pregunta3" name="pregunta3" #pregunta3="ngModel"
                        required [valid]="pregunta3.touched && pregunta3.invalid ? false : undefined">
                        @for (pregunta of preguntas; track $index) {
                        <option [value]="pregunta.etiqueta">{{pregunta.etiqueta}}
                        </option>
                        }
                    </select>
                    <c-form-feedback *ngIf="!!(pregunta3.touched && pregunta3.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
                <c-col lg="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Respuesta 3:</label>
                    <input cFormControl type="text" [(ngModel)]="datosSeguridad.respuesta3" name="respuesta3"
                        #respuesta3="ngModel" maxlength="20" required
                        [valid]="respuesta3.touched && respuesta3.invalid ? false : undefined">
                    <c-form-feedback *ngIf="!!(respuesta3.touched && respuesta3.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
</c-card>