<p>Comience ingresando un filtro para visualizar los operarios.</p>
<table cTable hover striped>
    <thead>
        <tr>
            <th scope="col" class="col"></th>
            <th scope="col" class="col">Identificación</th>
            <th scope="col" class="col">Nombre</th>
            <th scope="col" class="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <c-badge color="info" size="sm"
                    cTooltip="Al ingresar un filtro se valida que los operarios contengan todos los filtros definidos.">
                    <svg cIcon color="warning" name="cil-info"></svg>
                </c-badge>
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.identificacion" (ngModelChange)="filtrar()"
                    name="identification" #identification="ngModel" maxlength="20" sizing="sm">
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.nombre" (ngModelChange)="filtrar()"
                    name="nameClient" #nameClient="ngModel" maxlength="20" sizing="sm">
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.celular" (ngModelChange)="filtrar()"
                    name="cellphone" #cellphone="ngModel" maxlength="20" sizing="sm">
            </td>
        </tr>
        @for (operario of operariosFiltrados; track $index) {
        <tr (click)="seleccionarOperario(operario)">
            <td></td>
            <td>{{operario.identificacion}}</td>
            <td>{{operario.nombre}}</td>
            <td>{{operario.celular}}</td>
        </tr>
        }
    </tbody>
</table>