<form cForm #servicioForm="ngForm" (ngSubmit)="editarServicio()">
    <c-row>
        <c-col class="align-self-center">
            <label cLabel="col" class="text-danger float-end" sizing="sm">* Campos requeridos</label>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-3">
            <label cLabel="col" sizing="sm">Descripción:</label>
            <textarea #textareaElement cFormControl rows="1" [(ngModel)]="servicio.descripcion" name="nameService"
                #nameService="ngModel" (input)="adjustTextareasHeight()" maxlength="255" required
                [valid]="nameService.touched && nameService.invalid ? false : undefined" disabled>
            </textarea>
            <c-form-feedback *ngIf="nameService.touched && nameService.invalid" [valid]="false">
                Este campo es requerido!
            </c-form-feedback>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-3">
            <label cLabel="col" sizing="sm">Operario:</label>
            <c-input-group>
                <textarea #textareaElement cFormControl rows="1" [ngModel]="servicio.operario?.nombre" name="operator"
                    #operator="ngModel" readonly [disabled]="servicio.estado == CONST.ESTADO_SERVICIO.DESPACHADO">
                </textarea>
                @if (servicio.estado == CONST.ESTADO_SERVICIO.DESPACHADO) {
                <span cInputGroupText sizing="sm">
                    <c-badge size="sm" class="text-info"
                        cTooltip="El operario no se puede cambiar si el servicio está en estado {{ CONST.ESTADO_SERVICIO.DESPACHADO }}">
                        <svg cIcon name="cil-warning"></svg>
                    </c-badge>
                </span>
                }
                @else {
                <button cButton color="primary" size="sm" variant="outline" cTooltip="Buscar operario"
                    (click)="seleccionarOperario()" [disabled]="servicio.estado == CONST.ESTADO_SERVICIO.DESPACHADO">
                    <svg cIcon name="cil-search"></svg>
                </button>
                }
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <c-col sm="6" class="mb-3">
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-3">
            <label cLabel="col" sizing="sm">{{servicio.precioEstablecido ? "Precio" : "Establecer precio"}}:</label>
            <span class="text-danger" *ngIf="establecerPrecio"> *</span>
            <c-input-group>
                <span cInputGroupText sizing="sm">
                    @if (servicio.precioEstablecido) {
                    <c-badge size="sm" class="text-info"
                        cTooltip="El precio ya fue establecido y no se puede volver a modificar">
                        <svg cIcon name="cil-warning"></svg>
                    </c-badge>
                    }
                    @else {
                    <c-form-check sizing="lg">
                        <input cFormCheckInput type="checkbox" [(ngModel)]="establecerPrecio"
                            (ngModelChange)="servicio.precio = 0" name="checkSecurity" role="button" />
                    </c-form-check>
                    }
                </span>
                <input cFormControl type="text" [ngModel]="servicio.precio | currency: 'COP' : 'symbol-narrow' : '1.0'"
                    (ngModelChange)="cambiarPrecioIndividual($event)" name="price" #price="ngModel" maxlength="11"
                    required [pattern]="CONST.REGULAR_EXP.CURRENCY"
                    [valid]="price.touched && price.invalid ? false : undefined" [disabled]="!establecerPrecio">
                <c-form-feedback *ngIf="price.touched && price.invalid" [valid]="false">
                    Este campo debe ser un valor monetario válido!
                </c-form-feedback>
            </c-input-group>
        </c-col>
    </c-row>
    <c-row>
        <c-col class="mb-3" style="margin-top: 31px;">
            <label cLabel="col" sizing="sm">Estado:</label><span class="text-danger"> *</span>
            <c-button-group [formGroup]="btnRadioGroup" class="ms-4">
                @if (servicio.estado == CONST.ESTADO_SERVICIO.RECIBIDO) {
                <input class="btn-check" formControlName="radioEstado" id="radio1" type="radio"
                    [value]="CONST.ESTADO_SERVICIO.RECIBIDO" />
                <label (click)="cambiarEstado(CONST.ESTADO_SERVICIO.RECIBIDO)" cButton cFormCheckLabel color="warning"
                    for="radio1" variant="outline"
                    [ngClass]="{'text-white': radioEstado.value == CONST.ESTADO_SERVICIO.RECIBIDO}">
                    {{ CONST.ESTADO_SERVICIO.RECIBIDO }}
                </label>
                }
                @if (servicio.estado == CONST.ESTADO_SERVICIO.RECIBIDO || servicio.estado ==
                CONST.ESTADO_SERVICIO.TERMINADO) {
                <input class="btn-check" formControlName="radioEstado" id="radio2" type="radio"
                    [value]="CONST.ESTADO_SERVICIO.TERMINADO" />
                <label (click)="cambiarEstado(CONST.ESTADO_SERVICIO.TERMINADO)" cButton cFormCheckLabel color="info"
                    for="radio2" variant="outline"
                    [ngClass]="{'text-white': radioEstado.value == CONST.ESTADO_SERVICIO.TERMINADO}">
                    {{ CONST.ESTADO_SERVICIO.TERMINADO }}
                </label>
                }
                <input class="btn-check" formControlName="radioEstado" id="radio3" type="radio"
                    [value]="CONST.ESTADO_SERVICIO.DESPACHADO" />
                <label (click)="cambiarEstado(CONST.ESTADO_SERVICIO.DESPACHADO)" cButton cFormCheckLabel color="success"
                    for="radio3" variant="outline"
                    [ngClass]="{'text-white': radioEstado.value == CONST.ESTADO_SERVICIO.DESPACHADO}">
                    {{ CONST.ESTADO_SERVICIO.DESPACHADO }}
                </label>
            </c-button-group>
        </c-col>
    </c-row>
    @if (!ocultarBoton) {
    <input cButton color="primary" type="submit" [value]="'Editar'" [disabled]="servicioForm.invalid">
    }
</form>