<c-card>
    <c-card-header>
        <h5> Buscar orden de trabajo</h5>
    </c-card-header>
    <c-card-body>
        <form cForm #searchOrderForm="ngForm" (ngSubmit)="onSubmit()">
            <c-row>
                <c-col xs="12" sm="10">
                    <div class="mb-3">
                        <label cLabel="col" sizing="sm">Número de orden:</label>
                        <input cFormControl type="text" [(ngModel)]="numeroOrden" name="ordenNumber"
                            #ordenNumber="ngModel" [placeholder]="constService.ORDEN_NUMBER_DEFAULT" maxlength="20"
                            required [valid]="ordenNumber.touched && ordenNumber.invalid ? false : undefined">
                        <c-form-feedback *ngIf="!!(ordenNumber.touched && ordenNumber.invalid)" [valid]="false">
                            Este campo es requerido!
                        </c-form-feedback>
                    </div>
                </c-col>
                <c-col xs="12" sm="2" style="margin-top: 31px">
                    <input cButton color="primary" type="submit" value="Buscar" class="w-100"
                        [disabled]="searchOrderForm.invalid">
                </c-col>
            </c-row>
        </form>
        <c-alert [(visible)]="alertVisible" dismissible color="danger" fade class="mt-4">
            <svg cIcon name="cil-bell-exclamation" size="lg"></svg>
            No se encontró la orden de trabajo: <strong>{{idOrdenNoEncontrada}}</strong>
        </c-alert>
    </c-card-body>
</c-card>