<c-card>
    <c-card-header>
        <c-row>
            <c-col xs="auto" class="col-title">
                <h5 class="me-2"> {{ titulo }} operario </h5>
            </c-col>
            @if (esModoLectura) {
            <c-col xs="auto">
                <a cButton color="success" variant="ghost" size="sm" shape="rounded-pill" cTooltip="Editar"
                    [routerLink]="['/operarios/editar/' + operario.identificacion]">
                    <svg cIcon name="cil-pencil"></svg>
                </a>
            </c-col>
            }
        </c-row>
    </c-card-header>
    <c-card-body>
        <form cForm #operarioForm="ngForm" (ngSubmit)="onSubmit()">
            <c-row>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Identificación:</label>
                    <input cFormControl type="text" [(ngModel)]="operario.identificacion" name="identification"
                        #identification="ngModel" maxlength="20" required [pattern]="CONST.REGULAR_EXP.NUMBER"
                        [valid]="identification.touched && identification.invalid ? false : undefined"
                        [readonly]="esModoLectura || esModoEdicion" [plaintext]="esModoLectura || esModoEdicion">
                    <c-form-feedback *ngIf="!!(identification.touched && identification.invalid)" [valid]="false">
                        Este campo es requerido y debe ser numérico!
                    </c-form-feedback>
                </c-col>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Nombre:</label>
                    <input cFormControl type="text" [(ngModel)]="operario.nombre" name="operarioName"
                        #operarioName="ngModel" maxlength="100" required
                        [valid]="operarioName.touched && operarioName.invalid ? false : undefined"
                        [readonly]="esModoLectura" [plaintext]="esModoLectura">
                    <c-form-feedback *ngIf="!!(operarioName.touched && operarioName.invalid)" [valid]="false">
                        Este campo es requerido!
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row>
                <c-col sm="6" class="mb-3">
                    <label cLabel="col" sizing="sm">Celular:</label>
                    <input cFormControl type="text" [(ngModel)]="operario.celular" name="cellphone" #cellphone="ngModel"
                        maxlength="10" [pattern]="CONST.REGULAR_EXP.NUMBER" required
                        [valid]="cellphone.touched && cellphone.invalid ? false : undefined" [readonly]="esModoLectura"
                        [plaintext]="esModoLectura">
                    <c-form-feedback *ngIf="!!(cellphone.touched && cellphone.invalid)" [valid]="false">
                        Este campo es requerido y debe ser numérico!
                    </c-form-feedback>
                </c-col>
                <c-col sm="6" class="mb-3" style="margin-top: 31px;">
                    <label cLabel="col" sizing="sm">Estado:</label>
                    <c-button-group [formGroup]="btnRadioGroup" class="ms-4">
                        @if (btnRadioGroup.enabled || (btnRadioGroup.disabled && operario.estado ==
                        CONST.ESTADO_OPERARIO.ACTIVO)) {
                        <input class="btn-check" formControlName="radioEstado" id="radio1" type="radio"
                            [value]="CONST.ESTADO_OPERARIO.ACTIVO" />
                        <label (click)="cambiarEstado(CONST.ESTADO_OPERARIO.ACTIVO)" cButton cFormCheckLabel
                            color="info" for="radio1" variant="outline" [ngClass]="{'text-white': operario.estado ==
                        CONST.ESTADO_OPERARIO.ACTIVO}">
                            {{ CONST.ESTADO_OPERARIO.ACTIVO }}
                        </label>
                        }

                        @if (btnRadioGroup.enabled || (btnRadioGroup.disabled && operario.estado ==
                        CONST.ESTADO_OPERARIO.INACTIVO)) {
                        <input class="btn-check" formControlName="radioEstado" id="radio2" type="radio"
                            [value]="CONST.ESTADO_OPERARIO.INACTIVO" />
                        <label (click)="cambiarEstado(CONST.ESTADO_OPERARIO.INACTIVO)" cButton cFormCheckLabel
                            color="danger" for="radio2" variant="outline" [ngClass]="{'text-white': operario.estado ==
                        CONST.ESTADO_OPERARIO.INACTIVO}">
                            {{ CONST.ESTADO_OPERARIO.INACTIVO }}
                        </label>
                        }
                    </c-button-group>
                </c-col>
            </c-row>
            @if (esModoCreacion || esModoEdicion) {
            <input cButton color="primary" type="submit" [value]="titulo" [disabled]="operarioForm.invalid">
            }
        </form>
    </c-card-body>
</c-card>