<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container breakpoint="lg">
        <c-row class="justify-content-center">
            <c-col md="10">
                <c-card class="p-4">
                    <c-card-body>
                        <form cForm #recuperacionForm="ngForm" (ngSubmit)="recuperarClave()">
                            <h1>{{ CONST.NOMBRE_EMPRESA }}</h1>
                            <p class="text-body-secondary">Ingresa tu identificación, tus datos de seguridad y la
                                contraseña nueva</p>
                            <c-row>
                                <c-col xs="12" class="mb-3">
                                    <c-input-group>
                                        <span cInputGroupText>
                                            <svg cIcon name="cilUser"></svg>
                                        </span>
                                        <input cFormControl type="text" [(ngModel)]="recuperacion.identificacion"
                                            name="identification" #identification="ngModel" placeholder="Identificación"
                                            maxlength="20" required
                                            [valid]="identification.touched && identification.invalid ? false : undefined" />
                                        <c-form-feedback *ngIf="!!(identification.touched && identification.invalid)"
                                            [valid]="false">
                                            Este campo es requerido!
                                        </c-form-feedback>
                                    </c-input-group>
                                </c-col>
                            </c-row>
                            <c-row>
                                <c-col class="mb-3">
                                    <datos-seguridad [datosSeguridad]="recuperacion.datosSeguridad"
                                        (esFormularioValidoEvent)="sonValidosDatosSeguridad = $event"></datos-seguridad>
                                </c-col>
                            </c-row>
                            <c-row>
                                <c-col sm="6" class="mb-3">
                                    <label cLabel="col" sizing="sm">Contraseña nueva:</label>
                                    <input cFormControl type="password" [(ngModel)]="recuperacion.claveNueva"
                                        name="password" #password="ngModel" (ngModelChange)="confirmarClave()"
                                        maxlength="20" [pattern]="CONST.REGULAR_EXP.PASSWORD" required
                                        [valid]="password.touched && password.invalid ? false : undefined">
                                    <c-form-feedback *ngIf="!!(password.touched && password.invalid)" [valid]="false">
                                        La contraseña debe tener mínimo 8 caracteres, 1 letra mayúscula, 1 letra
                                        minúscula, 1
                                        número y 1 símbolo!
                                    </c-form-feedback>
                                </c-col>
                                <c-col sm="6" class="mb-3">
                                    <label cLabel="col" sizing="sm">Confimación de contraseña:</label>
                                    <input cFormControl type="password" [(ngModel)]="recuperacion.claveConfirmacion"
                                        name="passwordConfirm" #passwordConfirm="ngModel"
                                        (ngModelChange)="confirmarClave()" maxlength="20" required
                                        [valid]="passwordConfirm.touched && (passwordConfirm.invalid || !lasClavesCoinciden) ? false : undefined">
                                    <c-form-feedback
                                        *ngIf="!!(passwordConfirm.touched && (passwordConfirm.invalid || !lasClavesCoinciden))"
                                        [valid]="false">
                                        Las contraseñas no coinciden!
                                    </c-form-feedback>
                                </c-col>
                            </c-row>
                            <c-row class="justify-content-between">
                                <c-col xs="auto">
                                    <input cButton color="primary" type="submit" value="Recuperar contraseña"
                                        [disabled]="recuperacionForm.invalid || !lasClavesCoinciden || !sonValidosDatosSeguridad">
                                </c-col>
                                <c-col xs="auto">
                                    <a cButton color="link" class="w-100" [routerLink]="['/login']">
                                        Volver a iniciar sesión
                                    </a>
                                </c-col>
                            </c-row>
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>