<table cTable hover striped>
    <thead>
        <tr>
            <th scope="col" class="col">Identificación</th>
            <th scope="col" class="col">Nombre</th>
            <th scope="col" class="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.identification" (ngModelChange)="filtrar()"
                    name="identificacion" #identificacion="ngModel" maxlength="20">
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.name" (ngModelChange)="filtrar()" name="nombre"
                    #nombre="ngModel" maxlength="20">
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.cellphone" (ngModelChange)="filtrar()"
                    name="celular" #celular="ngModel" maxlength="20">
            </td>
        </tr>
        @for (cliente of clientesFiltrados; track $index) {
        <tr (click)="seleccionarCliente(cliente)">
            <td>{{cliente.identification}}</td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.cellphone}}</td>
        </tr>
        }
    </tbody>
</table>