<table cTable hover striped>
    <thead>
        <tr>
            <th scope="col" class="col">Identificación</th>
            <th scope="col" class="col">Nombre</th>
            <th scope="col" class="col">Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.identificacion" (ngModelChange)="filtrar()"
                    name="identification" #identification="ngModel" maxlength="20">
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.nombre" (ngModelChange)="filtrar()" name="nameClient"
                    #nameClient="ngModel" maxlength="20">
            </td>
            <td>
                <input cFormControl type="text" [(ngModel)]="filtro.celular" (ngModelChange)="filtrar()"
                    name="cellphone" #cellphone="ngModel" maxlength="20">
            </td>
        </tr>
        @for (cliente of clientesFiltrados; track $index) {
        <tr (click)="seleccionarCliente(cliente)">
            <td>{{cliente.identificacion}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.celular}}</td>
        </tr>
        }
    </tbody>
</table>