<p>Comience ingresando un filtro para mostrar los clientes encontrados.</p>
<div class="overflow-auto">
    <table cTable hover striped>
        <thead>
            <tr>
                <th scope="col" class="col"></th>
                <th scope="col" class="col">Identificación</th>
                <th scope="col" class="col">Nombre</th>
                <th scope="col" class="col">Celular</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <c-badge size="sm" class="text-info"
                        cTooltip="Se muestran los clientes que contengan los siguientes filtros:">
                        <svg cIcon name="cil-warning"></svg>
                    </c-badge>
                </td>
                <td>
                    <input cFormControl type="text" [(ngModel)]="filtro.identificacion" (ngModelChange)="filtrar()"
                        name="identification" #identification="ngModel" maxlength="20" sizing="sm">
                </td>
                <td>
                    <input cFormControl type="text" [(ngModel)]="filtro.nombre" (ngModelChange)="filtrar()"
                        name="nameClient" #nameClient="ngModel" maxlength="20" sizing="sm">
                </td>
                <td>
                    <input cFormControl type="text" [(ngModel)]="filtro.celular" (ngModelChange)="filtrar()"
                        name="cellphone" #cellphone="ngModel" maxlength="20" sizing="sm">
                </td>
            </tr>
            @for (cliente of clientesPorPagina[paginaActual-1]; track $index) {
            <tr (click)="seleccionarCliente(cliente)">
                <td></td>
                <td>{{cliente.identificacion}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.celular}}</td>
            </tr>
            }
        </tbody>
    </table>
    @if (clientesPorPagina.length) {
    <c-pagination>
        <li cPageItem [disabled]="paginaActual == 1">
            <a cPageLink role="button" (click)="paginaActual = 1">&laquo;</a>
        </li>
        <li cPageItem [disabled]="paginaActual == 1">
            <a cPageLink role="button" (click)="paginaActual = paginaActual-1">&lt;</a>
        </li>
        @for (pagina of clientesPorPagina; track $index) {
        <li cPageItem [active]="paginaActual == $index+1">
            <a cPageLink role="button" (click)="paginaActual = $index+1">{{ $index+1 }}</a>
        </li>
        }
        <li cPageItem [disabled]="paginaActual == clientesPorPagina.length">
            <a cPageLink role="button" (click)="paginaActual = paginaActual+1">&gt;</a>
        </li>
        <li cPageItem [disabled]="paginaActual == clientesPorPagina.length">
            <a cPageLink role="button" (click)="paginaActual = clientesPorPagina.length">
                &raquo;
            </a>
        </li>
    </c-pagination>
    }
    <p>{{ clientesFiltrados.length }} resultados</p>
</div>